@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary:#34D399;
       --black: #020202;
    --width-break:600px
}

body {
    margin: 0;
    font-family: 'Kalam', cursive;
    color: #09b481;
    background-image: url(1.jpg) ;
    background-repeat: no-repeat;
    
}

nav {
    background-color: var(--primary);
    text-align: center;
     border-top-left-radius:5rem;
    border-bottom-right-radius:5rem;
    border-top-right-radius:5rem;
    border-bottom-left-radius:5rem;
    
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

button {
    background-color:#225cc9;
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Kalam', cursive;
    font-size: larger;
    color: #34D399;
    border-radius: 27px;
    border: 2px solid rgb(226, 183, 43);
}




#translate-output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow:scroll;
    border: 1px solid var(--black);
}
footer{
    background-color: #7934d3;
    margin: auto;
    
}
.fa {
    padding: 10px;
    font-size: larger;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 2rem;
    color: white;
    transition: 1s;
  }

  .fa-github:hover{
      color: #624a85;
     margin: 0px 50px;
     transition: 1s;
     font-size: xx-large;
}

  .fa-linkedin:hover{
      color: #0e76a8 ;
      margin: 0px 50px;
     transition: 1s;
     font-size: xx-large;
  }

  .fa-twitter:hover{
      color:#1DA1F2;
      margin: 0px 50px;
     transition: 1s;
     font-size: xx-large;
  }

  .fa-instagram:hover{
      color:#fb3958 ;
      margin: 0px 50px;
     transition: 1s;
     font-size: xx-large;
  }
  footer h3{
      
    padding: 3rem;
    margin: auto;
    text-align: center;
    color: white;
    letter-spacing: 0.5rem;
}

.icon{
    margin-left: 2rem;
    padding: auto;
    text-align: center;
    font-size: x-large;
}

/*end of navigation*/

.project-img {
  max-width: 80%;
  width: 420px;
  display: block;
  margin: auto;

}

.my-img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  font-size: small;
}

.link .footer-img {

  padding: 1rem 2rem;
  text-align: center;

  padding-bottom: 0rem;

}


em{
  color:white;
}
.footer-text1{
  color: #78FFF1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;


}
.footer-text1:hover{
  text-transform: capitalize;
  text-shadow: #a0a0a1;
  color: #FBBF24;
}